body {
    background-color: #010101;
    color: #fff;
    font-family: railway_f, sans-serif;
    line-height: 1.55;
}

.main-header {
    position: relative;
}

.main-header::after {
    content: "";
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url(../img/ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -5);
}

.layers {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 0;
}
.layer__base {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);

}
.layer__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
    z-index: 20;

}

.layer__front {
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
    z-index: 30;
}
.layer__header {
    z-index: 10;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    color: --text;
    text-shadow: 0 0 25px #9e7d35;
}

.layer__title {
    font-size: calc(var(--index) * 2.5);
    letter-spacing: calc(var(--index) / 2.25 );
}
.layer__caption {
    font-size: calc(var(--index) * 1.19);
    letter-spacing: calc(var(--index) / 3.5 );
}

.main-article {
    min-height: 100vh;
    color: var(--tex t);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    text-shadow: 0 0 15px #9e7d35;

}

.main-article__header {
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.8);
    letter-spacing: calc(var(--index) / 7.5);
    font-weight: 900;
    transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    will-change: transform;
}
.main-article__paragraph {
    max-width: calc(var(--index) * 30);
    font-size: calc(var(--index) * .9);
    transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    will-change: transform;
}

.copy {
    position: absolute;
    bottom: calc(var(--index) * 2.5);
    opacity: .45;
    font-size: calc(var(--index) * .75);
    letter-spacing: calc(var(--index) / 35);
}